---
import Layout from '../../../src/layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Skapari - Contact">
  <div class="wrapper">
    <header class="header">
      <Nav />
    </header>
    <section class="p-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 heading">
            <h3 class="skapari-heading centered half">CONTACT US<span>join us for a coffee</span></h3>
          </div>
          <div class="col-md-6 m-auto">
            <div class="row">
              <div class="col-md-6">
                <p>Riejean Joubert<br>
                  +27 (0)71 917 6511<br>
                  riejean@skapari.co.za</p>
              </div>
              <div class="col-md-6 text-right">
                <p>Jacqualin Greig<br> +27 (0)83 326 6078<br> jacky@skapari.co.za</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-4 mb-lg-0 text-center">
                  <small class="">Johannesburg Office: SPACES Design Quarter, Design Quarter, Leslie Rd, Fourways, Johannesburg, 2191 </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-4 mb-lg-0 text-center">
                  <small class="">Cape Town Office: Manor House, Farm 3, Vineyards Office Estate, 99 Jip De Jager Dr, De Bron, Cape Town, 7530 </small>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <img src="/assets/images/circle_lights_bottom_lg.png" alt="Skapari circle lights" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <Footer />
</Layout>

<style>
  /* Add any page-specific styles here */
</style> 