---
import Layout from '../../src/layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

import Projects from '../projects.json';



---

<Layout title="Skapari - Projects">
  <div class="wrapper">
    <Nav navclass="header"/>
    <section class="section" id="projects">
      <div class="container-fluid">
        <div class="overlay-content">
          <h1 class="text-right main-heading">projects</h1>
        </div>
        <ul class="mt-5 subnav nav justify-content-end">
          <li class="nav-item inactive">
            <a class="nav-link" href="#all-projects">all projects</a>
          </li>
        </ul>
      </div>
    </section>

    <section class="bg-dark section" id="all-projects">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8 m-auto heading">
            <h3 class="skapari-heading design-philisophy">ALL PROJECTS<span>our work</span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 m-auto">
            <div class="row">
              {Projects.map((project) => (
                  <div class="col-md-6 mb-4">
                    <a href={project.url} class="project-link">
                      <img
                          src={project.img}
                          alt={project.name}
                          class="img-fluid"
                      />
                      <h4>{project.name}</h4>
                    </a>
                  </div>
              ))}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <Footer />
</Layout>

<style>
  .project-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .project-link img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .project-link h4 {
    font-size: 1.2rem;
    margin: 0;
  }
</style> 