---
import Layout from '../../../src/layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Skapari - Projects">
  <div class="wrapper">
    <header class="header">
      <Nav />
    </header>
    <section class="section" id="projects">
      <div class="container-fluid">
        <div class="overlay-content">
          <h1 class="text-right main-heading">projects</h1>
        </div>
        <ul class="mt-5 subnav nav justify-content-end">
          <li class="nav-item inactive">
            <a class="nav-link" href="#all-projects">all projects</a>
          </li>
        </ul>
      </div>
    </section>

    <section class="bg-dark section" id="all-projects">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8 m-auto heading">
            <h3 class="skapari-heading design-philisophy">ALL PROJECTS<span>our work</span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 m-auto">
            <div class="row">
              <div class="col-md-6 mb-4">
                <a href="/projects/livingstone-zambia-mosi-oa-tunya" class="project-link">
                  <img src="/assets/images/projects/livingstone-zambia-mosi-oa-tunya.jpg" alt="Livingstone Zambia Mosi-oa-Tunya" class="img-fluid">
                  <h4>Livingstone Zambia Mosi-oa-Tunya</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/cameroon-radisson" class="project-link">
                  <img src="/assets/images/projects/cameroon-radisson.jpg" alt="Cameroon Radisson" class="img-fluid">
                  <h4>Cameroon Radisson</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/ghana-conceptual" class="project-link">
                  <img src="/assets/images/projects/ghana-conceptual.jpg" alt="Ghana Conceptual" class="img-fluid">
                  <h4>Ghana Conceptual</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/upgrade-to-clubhouse" class="project-link">
                  <img src="/assets/images/projects/upgrade-to-clubhouse.jpg" alt="Upgrade to Clubhouse" class="img-fluid">
                  <h4>Upgrade to Clubhouse</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/sal-cape-verde-luxury" class="project-link">
                  <img src="/assets/images/projects/sal-cape-verde-luxury.jpg" alt="Sal Cape Verde Luxury" class="img-fluid">
                  <h4>Sal Cape Verde Luxury</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/lusaka-zambia-independant" class="project-link">
                  <img src="/assets/images/projects/lusaka-zambia-independant.jpg" alt="Lusaka Zambia Independent" class="img-fluid">
                  <h4>Lusaka Zambia Independent</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/ibis-styles-plateau" class="project-link">
                  <img src="/assets/images/projects/ibis-styles-plateau.jpg" alt="Ibis Styles Plateau" class="img-fluid">
                  <h4>Ibis Styles Plateau</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/ibis-styles-marcory" class="project-link">
                  <img src="/assets/images/projects/ibis-styles-marcory.jpg" alt="Ibis Styles Marcory" class="img-fluid">
                  <h4>Ibis Styles Marcory</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/classic-elegance-south-africa" class="project-link">
                  <img src="/assets/images/projects/classic-elegance-south-africa.jpg" alt="Classic Elegance South Africa" class="img-fluid">
                  <h4>Classic Elegance South Africa</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/radisson-cape-town" class="project-link">
                  <img src="/assets/images/projects/radisson-cape-town.jpg" alt="Radisson Cape Town" class="img-fluid">
                  <h4>Radisson Cape Town</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/wework-eyeofafrica" class="project-link">
                  <img src="/assets/images/projects/wework-eyeofafrica.jpg" alt="WeWork Eye of Africa" class="img-fluid">
                  <h4>WeWork Eye of Africa</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/accra-ghana-understated" class="project-link">
                  <img src="/assets/images/projects/accra-ghana-understated.jpg" alt="Accra Ghana Understated" class="img-fluid">
                  <h4>Accra Ghana Understated</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/accor-office-contemporary" class="project-link">
                  <img src="/assets/images/projects/accor-office-contemporary.jpg" alt="Accor Office Contemporary" class="img-fluid">
                  <h4>Accor Office Contemporary</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/abudhabi-elegance" class="project-link">
                  <img src="/assets/images/projects/abudhabi-elegance.jpg" alt="Abu Dhabi Elegance" class="img-fluid">
                  <h4>Abu Dhabi Elegance</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/south-africa-project-1" class="project-link">
                  <img src="/assets/images/projects/south-africa-project-1.jpg" alt="South Africa Project 1" class="img-fluid">
                  <h4>South Africa Project 1</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/mosi-livingstone" class="project-link">
                  <img src="/assets/images/projects/mosi-livingstone.jpg" alt="Mosi Livingstone" class="img-fluid">
                  <h4>Mosi Livingstone</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/bishoftu-ethiopia-natural" class="project-link">
                  <img src="/assets/images/projects/bishoftu-ethiopia-natural.jpg" alt="Bishoftu Ethiopia Natural" class="img-fluid">
                  <h4>Bishoftu Ethiopia Natural</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/lagos-nigeria-unexpected" class="project-link">
                  <img src="/assets/images/projects/lagos-nigeria-unexpected.jpg" alt="Lagos Nigeria Unexpected" class="img-fluid">
                  <h4>Lagos Nigeria Unexpected</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/seychelles-tranquil" class="project-link">
                  <img src="/assets/images/projects/seychelles-tranquil.jpg" alt="Seychelles Tranquil" class="img-fluid">
                  <h4>Seychelles Tranquil</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/house-warren-south-africa" class="project-link">
                  <img src="/assets/images/projects/house-warren-south-africa.jpg" alt="House Warren South Africa" class="img-fluid">
                  <h4>House Warren South Africa</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/south-africa-project-pending-1" class="project-link">
                  <img src="/assets/images/projects/south-africa-project-pending-1.jpg" alt="South Africa Project Pending 1" class="img-fluid">
                  <h4>South Africa Project Pending 1</h4>
                </a>
              </div>
              <div class="col-md-6 mb-4">
                <a href="/projects/apartment-jeoffry-south-africa" class="project-link">
                  <img src="/assets/images/projects/apartment-jeoffry-south-africa.jpg" alt="Apartment Jeoffry South Africa" class="img-fluid">
                  <h4>Apartment Jeoffry South Africa</h4>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <Footer />
</Layout>

<style>
  .project-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .project-link img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .project-link h4 {
    font-size: 1.2rem;
    margin: 0;
  }
</style> 