---


import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

let ska_grey_bg = 'url(../assets/images/skapari.svg) no-repeat fixed center';

import { Image } from 'astro:assets';
import skapariLogo from '../assets/images/skapari.svg';


---

<Layout title="Home - Skapari">
	<div class="wrapper ska_grey_bg">
		<Nav navclass="header bg-dark"/>
		<section class="logo-holder bg-dark" id="logo-holder">
			<div class="container " style=" height: 80%!important;">
				<div class="row align-items-center h-100">
					<div class="col-10 col-xl-8 mx-auto">
						<div class=" ">
							<Image src={skapariLogo} alt="Skapari" layout='constrained' width={700} />
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<Footer />
</Layout>

<style>
.ska_grey_bg{
	background-image: var(--ska_grey_bg);
}


	/* Add any page-specific styles here */
</style>