---
// Convert the PHP nav.php to an Astro component
const { navclass } = Astro.props;
---

<header class={navclass}>
  <nav class="navbar" id="main-nav">
    <button class="navbar-toggler third-button ml-auto hidden-sm-up float-xs-right collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#topnavigation" aria-controls="topnavigation" aria-expanded="false" aria-label="Toggle navigation">
      <div class="animated-icon3"><span></span><span></span><span></span></div>
    </button>
    <div class="navbar-collapse collapse" id="topnavigation" style="">
      <div class="overlay-content">
        <!-- Links -->
        <ul class="mainnav navbar-nav me-auto">
          <li class="nav-item inactive">
            <a class="nav-link " href="https://skapari.co.za">home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">about</a>
          </li>
          <li class="nav-item inactive">
            <a class="nav-link" href="/projects">our work</a>
          </li>
          <li class="nav-item inactive">
            <a class="nav-link" href="/curated">curated</a>
          </li>
          <li class="nav-item inactive">
            <a class="nav-link" href="/contact">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>