---
import skapariLogo from '../assets/images/skapari.svg';
---

<section class="logo-holder bg-dark" id="logo-holder">
	<div class="container " style=" height: 80%!important;">
		<div class="row align-items-center h-100">
			<div class="col-10 col-xl-8 mx-auto">
				<div class="">
					<img src={skapariLogo.src} alt="skapariLogo">
				</div>
			</div>
		</div>
	</div>
</section>
<style>
	.logo-holder {
		height: 88vh; }
</style>