---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/Icon-72.png">
	<link rel="stylesheet" href="/assets/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,600&display=swap" rel="stylesheet">
	<title>{title}</title>
</head>
<body class="skapari">
<slot />
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/fslightbox.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/all.js"></script>
</body>
</html>